name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  kustomize-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup kustomize
        uses: imranismail/setup-kustomize@v2
      - name: Build dev overlay
        run: kustomize build overlays/dev-ollama
